/*Author: Sushmita Nandalan 
Student no: 300923159 
Date: 12 December 2017*/

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #D6D7DF;
    font-size: 14pt;
}

/*.main {
    border-style: solid none none none;
    border-width: 5px;
    border-color: Indigo;
}

.auto-style1 {
    width: 261px;
}

.button {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
}

    .button:hover {
        background-color: indigo;
        text-emphasis-color: #FFFFFF;
    }*/
