/*Author: Sushmita Nandalan 
Student no: 300923159 
Date: 12 December 2017*/

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

.navbar {
    background-color: #56494E;
}
img{
    margin:5px;
}
.size{
    font-size:12pt;
}
/*.main {
    border-style: solid none none none;
    border-width: 5px;
    border-color: Indigo;
}

.auto-style1 {
    width: 261px;
}*/

.button {
    background-color: white;
    border-style: solid;
    border-width: 2px;
}
.foot {
    background-color: white;
}
a:hover {
    background-color: deeppink;
    text-emphasis-color: indigo;
}
